body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
section{
    display: flex;
}
.half-div{
    width: 50%;
    padding-left: 5%;
}
.half-div img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, orange, tomato);
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}