body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-div{
    width: 50%;
    padding-left: 5%;
}
.half-div img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, orange, tomato);
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}
.banner-top{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.banner-middle{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-div{
    width: 50%;
    padding-left: 5%;
}
.resume{
    text-transform: uppercase;
}
.dream-div p{
    padding-right: 50px;
}