body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-div{
    width: 50%;
    padding-left: 5%;
}
.half-div img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, orange, tomato);
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}
.banner-top{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.banner-middle{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-div{
    width: 50%;
    padding-left: 5%;
}
.resume{
    text-transform: uppercase;
}
.dream-div p{
    padding-right: 50px;
 

}
.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-dev{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
#experience-baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, blue, cyan);
    border-image-slice: 1;
}
#experience-full-stack-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}